
header {
  background-color: #ffd100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

header img {
  width: 4.375rem;
  height: 3.75rem;
}

header nav button {
  /* width: 7.5rem; */
  /* height: 2.125rem; */
  background-color: #0090e3;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.05rem;
  padding: .6rem 1.2rem;
}

.hero {
  position: absolute;
  top: 6rem;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffd100;
  background-image: url(/assets/images/hero.png);
  background-size: cover;
  padding: 1.5rem 0 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero .hero-img {
  display: none;
}

.hero h1 {
  width: 20rem;
  font-family: "Ubuntu", "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin: .5rem 0 0 0;
  line-height: 3.5rem;
}

.hero h1 span {
  color: #0090e3;
  font-size: 5rem;
  border-radius: 100px;
}

.hero .location-input {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero .location-input div {
  width: 20rem;
  height: 2.6rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 10px;
}

.hero .location-input div img {
  width: 1.875rem;
  height: 1.875rem;
}

.hero .location-input div input {
  width: 100%;
  height: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  outline: none;
  border: none;
  font-size: 1rem;
  margin-left: 1rem;
}

.hero .location-input div input::placeholder {
  color: rgb(187, 187, 187);
  font-weight: 400;
}

.hero .location-input button {
  width: 7rem;
  height: 3rem;
  color: #fff;
  background-color: #0090e3;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.hero .current {
  background-color: #fff;
  width: 14rem;
  height: 2.625rem;
  border: none;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem 0 0.625rem;
  color: #0090e3;
  font-weight: 500;
  margin-inline: auto;
}

.hero .current img {
  width: 1.875rem;
  height: 1.875rem;
}

.hero .btn-current {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.hero  .geust{
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  letter-spacing: .1rem;
  font-size: 12px;
}

footer {
  margin-top: 1rem;
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

footer .links a {
  text-decoration: none;
  padding: .2rem .5rem;
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

@media (min-width: 1200px) {
  header {
    padding: 2rem 4rem;
    border-bottom: 1px solid #ffd100;
  }

  header nav button {
    padding: .8rem 1.6rem;
    font-size: 16px;
  }

  header img {
    width: 6rem;
    height: 5rem;
  }

  .hero {
    top: 9.2rem;
    background-image: none;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-inline: 5rem;
    padding: 3rem 6rem 2rem 6rem;
  }

  .hero .hero-img {
    width: 30rem;
    display: block;
  }

  .hero .location-input {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 3rem;
  }

  .hero .location-input button img {
    display: block;
  }

  .hero h1 {
    text-align: left;
    font-size: 3.5rem;
    width: 31.25rem;
  }

  .hero .location-input button {
    margin: 0;
    margin-left: 2rem;
    width: 8rem;
    height: 3.4rem;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 2rem;
  }

  .hero .location-input .input {
    width: 25rem;
  }

  .hero .current {
    margin-top: 2rem;
  }

  footer {
    padding: 1rem 4rem;
    justify-content: space-between;
  }
}
