  header {
    background-color: #ffd100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
  }
  
  header img {
    width: 4.375rem;
    height: 3.75rem;
  }
  
  header nav button {
    width: 7.5rem;
    height: 2.125rem;
    background-color: #0090e3;
    border-radius: 50px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.05rem;
  }
  
  .hero {
    background-color: #ffd100;
    background-image: url(/assets/images/hero.png);
    background-size: cover;
    padding: 2rem 0 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .hero .hero-img {
      display: none;
  }
  
  .hero h1 {
    width: 20rem;
    font-family: "Ubuntu", "Roboto", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0 0 0 ;
    line-height: 3.5rem;
  }
  
  .hero h1 span {
    color: #0090e3;
    font-size: 5rem;
}

  .hero .location-input {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .hero .location-input div {
    width: 20rem;
    height: 2.6rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0.5rem;
  }
  
  .hero .location-input div img {
    width: 1.875rem;
    height: 1.875rem;
  }
  
  .hero .location-input div input {
    width: 100%;
    height: 2.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    outline: none;
    border: none;
    font-size: 1rem;
    margin-left: 1rem;
  }
  
  .hero .location-input  button {
    width: 6rem;
    height: 2.25rem;
    color: #fff;
    background-color: #0090e3;
    border: none;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
  
  .hero .current {
      background-color: #fff;
    width: 14rem;
    height: 2.625rem;
    border: none;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 2rem 0 .625rem;
    color: #0090e3;
    font-weight: 500;
    margin-inline: auto;
  }
  
  .hero .current img {
    width: 1.875rem;
    height: 1.875rem;
  }
  
  .hero .btn-current {
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  @media (min-width: 1200px) { 

    header {
        padding: 1rem 2rem;
        border-bottom: 1px solid #ffd100;
    }

      .hero {
          background-image: none;
          flex-direction: row-reverse;
          justify-content: space-between;
          padding-inline: 5rem;
      }
  
      .hero .hero-img{
          width: 30rem;
          display: block;
      }
  
      .hero .location-input {
          width: 100%;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          margin-top: 3rem;
      }

      .hero h1 {
          text-align: left;
          font-size: 3.5rem;
          width: 31.25rem;
      }

      .hero .location-input button{
        margin: 0;
        margin-left: 2rem;
        width: 8rem;
        height: 3.6rem;
        font-size: 20px;
      }

      .hero .location-input .input {
          width: 25rem;
      }

      .hero .current {
          margin-top: 2rem;
      }
  }
  