* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
}

header {
  background-color: #ffd100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1.5rem;
}

header img {
  width: 4.375rem;
  height: 3.75rem;
}

header nav button {
    cursor: pointer;
  width: 7.5rem;
  height: 2.125rem;
  background-color: #0090e3;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.05rem;
}
