* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
  border: none;
}


h1,h2,h3,h4,h5,h6 {
  font-family: 'Ubuntu', 'Roboto', sans-serif;
}

*:focus {
  outline: 0 !important;
}