* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
  border: none;
}

header {
  background-color: #ffd100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1.5rem;
}

header img {
  width: 4.375rem;
  height: 3.75rem;
}

header nav button {
  width: 7.5rem;
  height: 2.125rem;
  background-color: #0090e3;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.hero {
  background-color: #ffd100;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero h1 {
  width: 20rem;
  font-family: "Ubuntu", "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.hero .location-input {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero .location-input div {
  width: 25rem;
  height: 2.6rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.5rem;
}

.hero .location-input div img {
  width: 1.875rem;
  height: 1.875rem;
}

.hero .location-input div input {
  width: 100%;
  height: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  outline: none;
  border: none;
  font-size: 1rem;
}

.hero .location-input  button {
  width: 6rem;
  height: 2.25rem;
  color: #fff;
  background-color: #0090e3;
  border: none;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  margin-top: 1rem;
}

.hero .current {
    background-color: #fff;
  width: 14rem;
  height: 2.625rem;
  border: none;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: .8rem;
  padding: 0 0 0 .625rem;
  color: #0090e3;
  font-weight: 500;
  margin-top: 2rem;
}

.hero .current img {
  width: 1.875rem;
  height: 1.875rem;
}
