main{
    padding: 0 1rem;
}

header {
    background-color: #ffd100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}

header .logo img {
    width: 4rem;
}

header .location button {
    background: transparent;
    font-weight: 500;
    font-size: 14px;
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

header .location button img {
    width: 1.2rem;
}

header .icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .icons button:nth-child(1) {
    margin-right: 1.5rem;
}

header .icons img {
    width: 2rem;
}

header .icons button {
    background: transparent;
}

.greetings {
    margin-top: 1.5rem;
}

.greetings h1{
    width: 7em;
    padding-bottom: .3rem;
    font-size: 28px;
}

.greetings h1 span:nth-child(1) {
    font-family: 'Ubuntu', sans-serif;
    border-bottom: 4px solid #ffd100;
}

.main .fullstop,
.greetings h1 span:nth-child(2) {
    color: #0090e3;
    font-size: 30px;
}

.menu .main {
}

.menu .main h2 {
}