main{
    padding: 0 1rem;
}

header {
    margin: .5rem;
    background-color: #ffd100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}

header .logo img {
    width: 4rem;
}

header .location button {
    background: transparent;
    font-weight: 500;
    font-size: 14px;
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

header .location button img {
    width: 1.2rem;
}

header .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

header .icons img {
    width: 1.5rem;
}

header .icons button {
    background: transparent;
}

.greetings {
    margin-top: 1.5rem;
}

.greetings h1{
    width: 6.5em;
    padding-bottom: .3rem;
    border-bottom: 4px solid #ffd100;
    font-size: 28px;
}